*{
	font-family: 'Open Sans', sans-serif;
}

body{
	/*height: 800px;*/
}
h2{
	margin: 8px;
	text-align: end;
	color: #deb887;
}
.restaurante{
	background-color: purple;
}

.botones{
	background-color: #f75014;
	height: 4vw;
}
.carta{
    background-color: orange;
    height: 65vw;
    width: 30%;
    float: left;
}
.mesas{
	background-color: #faebd7;
	height: 65vw;
}
.recepcion{
	background-color: #235f23;
	height: 100px;
	padding: 8px;
}


/*restaurante{
	background-color: #ece4e4;
	height: 100%;
}*/

.mesa{
	background-color: #795548;
	display: inline-grid;
	margin: 8px;
	padding: 8px;
}

.mesa label{
	color: white;
	font-size: small;
}

.tabla_carta{
	padding: 8px;
    color: #faebd7;
    border-style: double;
    width: 80%;
    margin: 22px;
}

.tabla_carta tr{
	text-align: justify;
}

.titulo{
	text-align: center;
}

.grupo{
	background-color: pink;
	padding: 8px;
    margin: 8px;
    display: inline-grid;
}
.boton_clientes {
    width: 20%;
    border-radius: 10px;
    color: white;
    font-size: large;
    background-color: black;
    margin: 8px;
}
.personas{
	font-size: small;
}
.ocupada label{
	color: #e2e214;
}
